
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
  background-color: #e0d6e8;
}

h1 {/* font size 100%=16px dan 1em=16px kalau memakai px atau em di parents remain ukuran yang di parents kecuali pakai rem bukan em, rekomendasi lebih enak pake rem*/
  margin: 50px auto 0 auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  color: #d4ebd0;
}

p {
  font-family: 'Quicksand', sans-serif;
  line-height: 2;
}

.h21 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #ffffff;
  font-weight: normal;
  line-height: 2;
}

h2 {
  padding-bottom: 10px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-msg {
  width: 40%
  margin: 40px auto 60px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  padding-bottom: 10px;
  position: relative;
}

h3 {
  color: #ad62aa;
}

.top-container {
  background-image: url(https://i.pinimg.com/originals/5c/02/1b/5c021bab84180aca4e7fa9345096b872.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 80vh;
  padding-top: 100px;
  position: relative;
}

.hamster {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 350px;
  bottom: 100px;
}

.hamster:hover {
  width: 300px;
  height: 270px;
}

.hamster1 {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 400px;
  bottom: 100px;
}

.hamster1:hover {
  width: 300px;
  height: 270px;
}

.profile1 {
  width: 300px;
  height: 300px;
  padding-top: 50px;
}

.profile1:hover {
  width: 320px;
  height: 320px;
}

.environment1 {
  width: 40%;
  float: right;
  margin-left: 30px;
}

.browser1 {
  width: 35%;
  float: left;
  margin-right: 30px;
  padding-bottom: 50px;
  position: relative;
  bottom: 30px;
}

.datascientist1 {
  width: 40%;
  float: left;
  margin-right: 30px;
}

.tv {
  margin: 0px;
  width: 300px;
  height: 300px;
}

.tv:hover {
  width: 320px;
  height: 320px;
  }


.middle-container {
  padding: auto auto 30px auto;
  position: relative;
}

.bottom-container {
  margin-top: 100px;
  background-color: #7c66ff;
  padding: 50px 0 20px;
  position: relative;
}

.contact-me {

}


a {
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 0.8rem;
}

a:hover {
  color: #f2e9f2;
  font-size: 1rem;
}

hr {
  border: dotted #ad62aa 6px;
  border-bottom: none;
  width: 8%;
  margin: 50px auto;
}

.btn {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #e874bd 5%, #ffc7ad 100%);
	background-color:#e874bd;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#40514E;
	font-family:'Montserrat', sans-serif;
	font-size:20px;
	padding:14px 30px;
	text-decoration:none;
	text-shadow:-1px 2px 1px #e1e2ed;
}
.btn:hover {
	background:linear-gradient(to bottom, #ffc7ad 5%, #e874bd 100%);
	background-color:#ffc7ad;
}
.btn:active {
	position:relative;
	top:1px;
}

.copyright {
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.55rem;
  padding: 20px 0;
}
